<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agility | All events')"></head>
<body>
<header th:replace="fragments/fragmentsHeaderPrivate :: menu"></header>

<div class="position-absolute top-50 start-50 translate-middle bg-light p-2 border border-dark border-3 rounded" style="--bs-bg-opacity: .7;">
    <div>
        <h1>Welcome to our posted events!!!</h1>
        <h1>Find and select which you will attend</h1>
    </div>
    <div>
        <table class="table table-warning table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <!--                <th th:text="#{list.eventName}">name</th>-->
                <!--                <th th:text="#{list.eventOrganiser}">organizer</th>-->
                <!--                <th th:text="#{list.eventCountry}">country</th>-->
                <!--                <th th:text="#{list.productCity}">city</th>-->
                <!--                <th th:text="#{list.productLocationAddress}">locationAddress</th>-->
                <!--                <th th:text="#{list.productDate}">date</th>-->
                <!--                <th scope="col">registrationEndDate</th>-->
                <th scope="col">Name</th>
                <th scope="col">Organizer</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Location address</th>
                <th scope="col">Date</th>
                <th scope="col">Registration end date</th>
                <th scope="col">View event details</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Remove event</th>
            </tr>
            </thead>
            <tbody th:each="event: ${events}">
            <tr th:object="${event}">
                <td th:text="*{name}"></td>
                <td th:text="*{organizer}"></td>
                <td th:text="*{country}"></td>
                <td th:text="*{city}"></td>
                <td th:text="*{locationAddress}"></td>
                <td th:text="*{date}"></td>
                <td th:text="*{registrationEndDate}"></td>
                <td>
                    <a th:href="@{/user/register-user}"
                       sec:authorize="!isAuthenticated()">
                        <button
                                type="submit">Register & attend event
                        </button>
                    </a>
                    <a sec:authorize="hasRole('ROLE_USER')"
                       th:href="@{/private/events/event/{id}(id=${event.getId()})}">
                        <button
                                type="submit">Attend event
                        </button>
                    </a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a th:href="@{/private/my-events/event/{id}/delete(id=${event.getId()})}">
                        <button
                                class="btn-danger" type="submit">Delete event
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/public/events(page=${currentPage - 1})}"> < </a>
            <span th:each="page: ${#numbers.sequence(0, totalPages - 1)}">
                        <a th:href="@{/public/events(page=${page})}" th:text="${page + 1}"></a>
                    </span>
            <a th:href="@{/public/events(page=${currentPage + 1})}"> > </a>
        </div>
    </div>
    <div>
        <a sec:authorize="isAuthenticated()"class="position-absolute bottom-0 end-0 p-3" th:href="@{/private/home}">Back to Home</a>
        <a sec:authorize="!isAuthenticated()" class="position-absolute bottom-0 end-0 p-3" th:href="@{/public/home}">Back to Home</a>
    </div>
</div>

    <div th:replace="/fragments/linksScripts :: links-scripts"></div>
</body>
</html>