<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agilty | Register user')"></head>
<body>
<div th:replace="fragments/fragmentsHeaderPrivate :: menu"></div>
<div class="center">
    <h1>Register Event</h1>
    <form th:action="@{/private/myEvents/register-success}" th:object="${event}" method="post">
        <div>
            <labe>Event type:</labe>
            <select name="classification">
                <option value="OFFICIAL">Official</option>
                <option value="UNOFFICIAL">Unofficial</option>
                <option value="SEMINAR">Seminar</option>
                <option value="TRAINING">Training</option>
                <option value="CHARITY">Charity</option>
            </select>
        </div>
        <div>
            <span>Event Title: <input type="text" th:field="*{name}"></span>
        </div>
        <div>
            <span>Organizer name: <input type="text" th:field="*{organizer}"></span>
        </div>
        <div>
            <span>Judge Name: <input type="text" th:field="*{judgeName}"></span>
        </div>
        <div>
            <span>Judge Surname: <input type="text" th:field="*{judgeSurname}"></span>
        </div>
        <div>
            <span>Country: <input type="text" th:field="*{country}"></span>
        </div>
        <div>
            <span>City: <input type="text" th:field="*{city}"></span>
        </div>
        <div>
            <span>Location address: <input type="text" th:field="*{locationAddress}"></span>
        </div>
        <div>
            <span>Event date: <input type="date" th:field="*{date}"></span>
        </div>
        <div>
            <span>Number of event days: <input type="number" th:field="*{noOfEventDays}"></span>
        </div>
        <div>
            <span>Registration dead-line: <input type="date" th:field="*{registrationEndDate}"></span>
        </div>
        <div>
            <span>Maximum number of dog attendees: <input type="number" th:field="*{maxDogCapacity}"></span>
        </div>
        <div>
            <span>Additional event information: <input type="text" th:field="*{info}"></span>
        </div>
        <div>
            <button type="submit">Continue to event details</button>
        </div>
    </form>
    <div>
        <a th:href="@{/private/home}">Back to Home</a>
    </div>
</div>
</body>

</html>
