<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPublic :: head('agilty | Register user')"></head>
<body>
<div th:replace="fragments/fragmentsHeaderPublic :: menu"></div>
<div class="center">
    <div>
        <h1>Registration Form</h1>
    </div>
    <div>
        <form th:action="@{/user/register-success}" th:object="${user}" method="post">

            <div>
                <label>Your name</label>
                <input type="text" th:field="*{name}">
            </div>

            <div>
                <label>Your surname</label>
                <input type="text" th:field="*{surname}">
            </div>

            <div>
                <label>Your email address</label>
                <input type="text" th:field="*{email}">
            </div>

            <div>
                <label>Account username</label>
                <input type="text" th:field="*{username}">
            </div>

            <div>
                <label>Account password</label>
                <input type="password" th:field="*{password}"></label>
            </div>





            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    <div>
        <a th:href="@{/public/home}">Back to Home</a>
    </div>
</div>
</body>

</html>
