<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agilty | Register event')"></head>
<header th:replace="fragments/fragmentsHeaderPrivate :: menu"></header>
<body>
<div class="position-absolute top-50 start-50 translate-middle bg-light p-2 mt-5 border border-dark border-3 rounded" style="--bs-bg-opacity: .7;">
    <h1>Register Event</h1>
    <form class="row g-1 needs-validation" novalidate th:action="@{/private/my-events/register-success}" th:object="${event}" method="post">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputEventType">Event type:</label>
            <select name="classification" class="form-select" id="inputEventType" required>
                <option selected disabled value="">Choose...</option>
                <option value="OFFICIAL">Official</option>
                <option value="UNOFFICIAL">Unofficial</option>
                <option value="SEMINAR">Seminar</option>
                <option value="TRAINING">Training</option>
                <option value="CHARITY">Charity</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputName" class="form-label">Event Title</label>
            <input type="text" th:field="*{name}" class="form-control" id="inputName" required>
        </div>
        <div class="col-md-6">
            <label for="inputOrganizer" class="form-label">Organizer</label>
            <input type="text" th:field="*{organizer}" class="form-control" id="inputOrganizer" required>
        </div>
        <div class="col-md-6">
            <label for="inputJudgeName" class="form-label">Judge Name</label>
            <input type="text" th:field="*{judgeName}" class="form-control" id="inputJudgeName" required>
        </div>
        <div class="col-md-6">
            <label for="inputJudgeSurname" class="form-label">Judge Surname</label>
            <input type="text" th:field="*{judgeSurname}" class="form-control" id="inputJudgeSurname" required>
        </div>
        <div class="col-md-6">
            <label for="inputCountry" class="form-label">Country</label>
            <input type="text" th:field="*{country}" class="form-control" id="inputCountry" required>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" th:field="*{city}" class="form-control" id="inputCity" required>
        </div>
        <div class="col-md-6">
            <label for="inputLocationAddress" class="form-label">Location address</label>
            <input type="text" th:field="*{locationAddress}" class="form-control" id="inputLocationAddress" required>
        </div>
        <div class="col-md-6">
            <label for="inputDate" class="form-label">Event date</label>
            <input type="date" th:field="*{date}" class="form-control" id="inputDate" required>
        </div>
        <div class="col-md-6">
            <label for="inputNoOfEventDays" class="form-label">Number of event days</label>
            <input type="number" th:field="*{noOfEventDays}" class="form-control" id="inputNoOfEventDays"  value="1" required>
        </div>
        <div class="col-md-6">
            <label for="inputRegistrationEndDate" class="form-label">Registration dead-line</label>
            <input type="date" th:field="*{registrationEndDate}" class="form-control" id="inputRegistrationEndDate" required>
        </div>
        <div class="col-md-6">
            <label for="inputMaxDogCapacity" class="form-label">Maximum number of dog attendees</label>
            <input type="number" th:field="*{maxDogCapacity}" class="form-control col-md-2 p-1" id="inputMaxDogCapacity">
        </div>
        <div class="col-md-12">
            <label for="inputInfo" class="form-label">Additional event information</label>
            <textarea class="form-control p-5" th:field="*{info}" aria-label="With textarea" id="inputInfo"></textarea>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Continue to event details</button>
            <a class="position-absolute bottom-0 end-0 p-3" th:href="@{/private/home}">Back to Home</a>
        </div>
    </form>
</div>
<div th:replace="/fragments/linksScripts :: links-scripts"></div>
</body>

</html>
