<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agilty | Register user')"></head>
<body>
<header th:replace="fragments/fragmentsHeaderPrivate :: menu"></header>
<div class="position-absolute top-50 start-50 translate-middle bg-light p-lg-5 border border-dark border-3 rounded"
     style="--bs-bg-opacity: .7;">
    <div>
        <h1 class="p-lg-5">Registration Form</h1>
    </div>
    <div>
        <form class="row g-3 needs-validation" novalidate th:action="@{/user/register-success}" th:object="${user}" method="post">
            <div class="col-md-6">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="inputUsername" required>
<!--                Grazinti teksta jei vartotojo vardas jau rastas-->
<!--                <div th:if="${existedUsername != null}" class="alert alert-danger notification" role="alert">-->
<!--                    <p th:text="${existedUsername}"></p><p> already exists</p>-->
<!--                </div>-->
            </div>
            <div class="col-md-6">
                <label for="inputSurname" class="form-label">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="inputPassword" required>
            </div>

            <div class="col-md-6">
                <label for="inputName" class="form-label">First name</label>
                <input type="text" th:field="*{name}" class="form-control" id="inputName" required>
            </div>
            <div class="col-md-6">
                <label for="inputSurname" class="form-label">Last name</label>
                <input type="text" th:field="*{surname}" class="form-control" id="inputSurname" required>
            </div>
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" th:field="*{email}" class="form-control" id="inputEmail" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Register</button>
                <a class="position-absolute bottom-0 end-0 p-3" th:href="@{/public/home}">Back to Home</a>
            </div>
        </form>
    </div>
    <div>
        <a th:href="@{/public/home}">Back to Home</a>
    </div>
</div>

<div th:replace="/fragments/linksScripts :: links-scripts"></div>
</body>
</html>
