<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agilty | Register user')"></head>
<body>
<div th:replace="fragments/fragmentsHeaderPrivate :: menu"></div>
<div class="center">
    <h1>Register Dog</h1>
    <form th:action="@{/private/user/dogs/register-success(userId=${#authentication.getPrincipal().getId()})}" th:object="${dog}" method="post">
<!--    <form th:action="@{/private/handler/dogs/register-success}" th:object="${dog}" method="post">-->
        <div>
            <span>Name: <input type="text" th:field="*{name}"></span>
        </div>
        <div>
            <span>Breed: <input type="text" th:field="*{breed}"></span>
        </div>
        <div>
            <span>Birth Date: <input type="date" th:field="*{birthDate}"></span>
        </div>
        <div>
            <span>Last Vaccine Date: <input type="date" th:field="*{vaccineDate}"></span>
        </div>
        <div>
            <label>Dog Size:</label>

            <select name="dogSize">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
        <div>
            <label>Level:</label>

            <select name="division">
                <option value="a0">A0</option>
                <option value="a1">A1</option>
                <option value="a2">A2</option>
                <option value="a3">A3</option>
                <option value="veteran">Veteran</option>
            </select>
        </div>
        <div>
            <label>Clean courses count:</label>

            <select name="cleanCourses">
                <option value="0">None</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div>
            <button type="submit">Register Dog</button>
        </div>
    </form>
    <div>
        <a th:href="@{/private/home}">Back to Home</a>
    </div>
</div>
</body>

</html>
