<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agilty | Register user')"></head>
<body>
<div th:replace="fragments/fragmentsHeaderPrivate :: menu"></div>
<div class="center">
    <h1>Update Event Configuration</h1>
    <form th:action="@{/private/my-events/event/{id}/update-success(id = ${eventId})}" th:object="${configuration}" method="post">
        <div>
            <label>Select event day:</label>
            <select name="weekDay">
                <option value="MONDAY">Monday</option>
                <option value="TUESDAY">Tuesday</option>
                <option value="WEDNESDAY">Wednesday</option>
                <option value="THURSDAY">Thursday</option>
                <option value="FRIDAY">Friday</option>
                <option value="SATURDAY">Saturday</option>
                <option value="SUNDAY">Sunday</option>
            </select>
        </div>
        <div>
            <fieldset>
                <legend>Select course levels</legend>
                <input type="checkbox" name="courseA0" value="TRUE">A0<br>
                <input type="checkbox" name="courseA1" value="TRUE">A1<br>
                <input type="checkbox" name="courseA2" value="TRUE">A2<br>
                <input type="checkbox" name="courseA3" value="TRUE">A3<br>
            </fieldset>
        </div>
        <div>
            <label>Select A1 course type:</label>
            <select name="courseTypeA1">
                <option value="JUMPING">Jumping</option>
                <option value="AGILITY">Agility</option>
                <option value="JUMPING_AND_AGILITY">Jumping & Agility</option>
            </select>
        </div>
        <div>
            <label>Select A2 course type:</label>
            <select name="courseTypeA2">
                <option value="JUMPING">Jumping</option>
                <option value="AGILITY">Agility</option>
                <option value="JUMPING_AND_AGILITY">Jumping & Agility</option>
            </select>
        </div>
        <div>
            <label>Select A3 course type:</label>
            <select name="courseTypeA3">
                <option value="JUMPING">Jumping</option>
                <option value="AGILITY">Agility</option>
                <option value="JUMPING_AND_AGILITY">Jumping & Agility</option>
            </select>
        </div>
        <div>
            <label for="startTimeA0">Starting time for A0</label>
            <input type="time"
                   id="startTimeA0"
                   value="10:00"
                   name="startTimeA0">
        </div>
        <div>
            <label for="startTimeA1">Starting time for A1</label>
            <input type="time"
                   id="startTimeA1"
                   value="12:00"
                   name="startTimeA1">
        </div>
        <div>
            <label for="startTimeA2">Starting time for A0</label>
            <input type="time"
                   id="startTimeA2"
                   value="14:00"
                   name="startTimeA2">
        </div>
        <div>
            <label for="startTimeA3">Starting time for A0</label>
            <input type="time"
                   id="startTimeA3"
                   value="16:00"
                   name="startTimeA3">
        </div>
        <div>
            <button type="submit">Finish event</button>
        </div>
    </form>
    <div>
        <a th:href="@{/private/home}">Back to Home</a>
    </div>
</div>
</body>

</html>
