styles.css<html xmlns:th="https://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <title th:text="*{title}"></title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="user-input" th:fragment="user-input">
            <div>
                <span>Name: <input type="text" th:field="*{name}"></span>
            </div>
            <div>
                <span>Surname: <input type="text" th:field="*{surname}"></span>
            </div>
            <div>
                <span>Country: <input type="text" th:field="*{country}"></span>
            </div>
            <div>
                <span>City: <input type="text" th:field="*{city}"></span>
            </div>
            <div>
                <span>Phone Number: <input type="text" th:field="*{phoneNumber}"></span>
            </div>
            <div>
                <span>Email address: <input type="text" th:field="*{email}"></span>
            </div>
            <div>
                <span>Joined Agility Year: <input type="number" th:field="*{joinedAgilityYear}"></span>
            </div>
            <div>
                <span>Info: <input type="text" th:field="*{info}"></span>
            </div>
        </div>
    </body>
</html>
