styles.css<html xmlns:th="https://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <title th:text="*{title}"></title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="topnav" th:fragment="menu">
            <a th:href="@{/public/home}">
                <img class="logo" th:src="@{/images/Logo.jpg}"/>
            </a>
            <a th:href="@{/public/events}">Upcoming Events</a>
            <a class="active" th:href="@{/public/register-for-event}">Sign up for Event</a>
            <a th:href="@{/user/register-user}">Register</a>
            <a th:href="@{/login}">Sign in</a>
            <a th:href="@{?lang=LT}">LT</a>
            <a th:href="@{?lang=EN}">EN</a>
        </div>
    </body>
</html>
