<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPrivate :: head('agility | Doggy Page')"></head>
<body>
<header th:replace="fragments/fragmentsHeaderPrivate :: menu"></header>
<div class="position-absolute top-50 start-50 translate-middle bg-light p-2 border border-dark border-3 rounded" style="--bs-bg-opacity: .7;">
    <h1 th:text="#{dogPageWelcomeKey}"></h1>
    <div th:object="${dog}">
        <div class="dog-generic-info">
            <div>
                <h3 th:text="#{DogGenInfoKey}"></h3>
            </div>
            <div>
                <span th:text="#{nameKey}"></span>
                <span th:text="*{name}"></span>
            </div>
            <div>
                <span th:text="#{breedKey}"></span>
                <span th:text="*{breed}"></span>
            </div>
            <div>
                <span th:text="#{birthDateKey}"></span>
                <span th:text="*{birthDate}"></span>
            </div>
            <div>
                <span th:text="#{vaccinatedKey}"></span>
                <span th:text="*{vaccinated}"></span>
            </div>

        </div>
        <div class="dog-professional-info">
            <div>
                <h3 th:text="#{DogProfInfoKey}"></h3>
            </div>
            <div>
                <span th:text="#{activeRunnerKey}"></span>
                <span th:text="*{activeRunner}"></span>
            </div>
            <div>
                <span th:text="#{dogSizeKey}"></span>
                <span th:text="*{dogSize}"></span>
            </div>
            <div>
                <span th:text="#{divisionKey}"></span>
                <span th:text="*{division}"></span>
            </div>
            <div>
                <span th:text="#{cleanCoursesKey}"></span>
                <span th:text="*{cleanCourses}"></span>
            </div>
        </div>

        <div class="info">
            <div>
                <span th:text="#{infoKey}"></span>
                <span th:text="*{info}"></span>
            </div>
        </div>
    </div>



    <div>
<!--        <a th:href="@{/private/register-handler}">Im a Handler!</a>-->
<!--        <a th:href="@{/private/register-club}">I have a club!</a>-->
        <a th:href="@{/private/user/dogs/register-dog}">Add another dog!</a>
    </div>

    <h3>To be developed</h3>
</div>
</body>
</html>
