<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeader :: head('agilty | Register user')"></head>
<body>
<div th:replace="fragments/fragmentsHeader :: menu"></div>
<div class="center">
    <h1>Register user</h1>
    <form th:action="@{/users/register-user}" th:object="${user}" method="post">
        <div th:replace="fragments/fragmentsUserForm :: user-input"></div>
        <div>
            <input type="submit" title="Register">
        </div>
    </form>
    <div>
        <a th:href="@{/users}">Back to list</a>
    </div>
</div>
</body>
</html>
