<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragmentsHeaderPublic :: head('agilty | Home')"></head>
<body>
<div th:replace="fragments/fragmentsHeaderPublic :: menu"></div>
<div class="center">
    <h1>Welcome to agility world!</h1>
    <div>
        <h3>You are welcomed to browse all upcoming events, but if you would like to register for them you are required to <a href="http://localhost:8080/user/register-user">sign up!</a></h3>
    </div>
    <div>
        <h3>If not you are always welcomed to listen to the best radio out there!</h3>
        <a href="https://www.friskyradio.com/">Tune in to the radio</a>
    </div>
</div>
</body>
</html>
